/* nav */
.nav-link{
    color: white !important;
}
/* ====================================== */
/* hero */
.jump_img {
    width: 100%;
    background-image: url(https://pierpaolo28.github.io/assets/img/posts/intro.jpg);
    object-fit: cover;
}
.overlay-image {
    background-color: rgba(0, 0, 0, 0.7);
}
.video-part-content .carousel-caption {
    position: relative !important;
    left: 0%;
    right: 0%;
}
/* ================================================== */